RealTime_SensorData_Dec 03, 2020.json
[{"id":"1ebac2c4.a26aa5","type":"tab","label":"Real-Time Sensor Data","disabled":false,"info":"Author:\n    DurUntash Lab LLC\n    San Diego, CA"},{"id":"ca731174.00db48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9330e080.72acf8","type":"ui_group","z":"","name":"Soil Temperature (°C)","tab":"ca731174.00db48","order":6,"disp":true,"width":"6","collapse":false},{"id":"8f22d25e.4628b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a64bd84f.5eb0d","type":"serial-port","z":"","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"cb2e6441.eac728","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"0","height":"0"},{"id":"93ab90fc.afaff","type":"ui_group","z":"","name":"Battery Status","tab":"ca731174.00db48","order":1,"disp":true,"width":"6","collapse":false},{"id":"108a21fc.d30b0e","type":"ui_group","z":"","name":"Solution Temperature (°C)","tab":"ca731174.00db48","order":4,"disp":true,"width":"6","collapse":false},{"id":"425b60ba.b6cc7","type":"ui_group","z":"","name":"Electrical Conductivity (dS/m)","tab":"ca731174.00db48","order":2,"disp":true,"width":"6","collapse":false},{"id":"ff2db422.f5394","type":"ui_group","z":"","name":"TDS (ppm)","tab":"ca731174.00db48","order":3,"disp":true,"width":"6","collapse":false},{"id":"6358cdc2.7807e4","type":"ui_group","z":"","name":"Soil Moisture (%)","tab":"ca731174.00db48","order":5,"disp":true,"width":"6","collapse":false},{"id":"a6c9bdfd.3afde8","type":"serial-port","z":"","serialport":"COM49","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"fa908ec6.210af8","type":"serial-port","z":"","serialport":"COM19","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3c1c6610.063c6a","type":"serial in","z":"1ebac2c4.a26aa5","name":"","serial":"a64bd84f.5eb0d","x":250,"y":200,"wires":[["404bd484.84eb2c","dc41b2a5.42b168"]]},{"id":"dc41b2a5.42b168","type":"function","z":"1ebac2c4.a26aa5","name":"","func":"\nvar outputMsgs = [];\n///var values = msg.payload.remove(0, 1)\nvar values = msg.payload.trim().split(\",\")\n\nfor(var v in values) {\n    outputMsgs.push({payload:values[v]});\n}\n\nreturn outputMsgs;","outputs":8,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[[],[],[],["d9863628.77e8b"],["55d035d4.819174"],[],[],[]]},{"id":"d02071fb.bd8228","type":"debug","z":"1ebac2c4.a26aa5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"dcf8afd8.9919","type":"ui_gauge","z":"1ebac2c4.a26aa5","name":"","group":"9330e080.72acf8","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":200,"wires":[]},{"id":"95d1088.e850578","type":"ui_chart","z":"1ebac2c4.a26aa5","name":"","group":"6358cdc2.7807e4","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":140,"wires":[[]]},{"id":"396bc23a.7e7696","type":"ui_chart","z":"1ebac2c4.a26aa5","name":"","group":"9330e080.72acf8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":240,"wires":[[]]},{"id":"d9863628.77e8b","type":"function","z":"1ebac2c4.a26aa5","name":"","func":"var str = msg.payload;\nvar x = parseFloat(str);\nx = x - 1000;\n\nif (x > 100) {\n  x = 50; \n}\n\nmsg.payload  = x.toFixed(1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":160,"wires":[["95d1088.e850578","efc03d6c.c4aee"]]},{"id":"55d035d4.819174","type":"function","z":"1ebac2c4.a26aa5","name":"","func":"var str = msg.payload;\nvar x = parseFloat(str);\nx = x - 273;\nif (x > 100) {\n  x = 0; \n}\n\nmsg.payload  = x.toFixed(1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":200,"wires":[["dcf8afd8.9919","396bc23a.7e7696"]]},{"id":"efc03d6c.c4aee","type":"ui_gauge","z":"1ebac2c4.a26aa5","name":"","group":"6358cdc2.7807e4","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":100,"wires":[]},{"id":"82212b37.65e958","type":"function","z":"1ebac2c4.a26aa5","name":"","func":"\nvar outputMsgs = [];\n//var values = msg.payload.remove(0, 1)\nvar values = msg.payload.trim().split(\",\")\n\nfor(var v in values) {\n    outputMsgs.push({payload:values[v]});\n}\n\nreturn outputMsgs;","outputs":8,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[[],[],[],["d8fd311d.1bdda8"],["2085cb5a.e0dc74"],[],[],["e30e11af.9c8f98","2b75ce6c.5f4e72"]]},{"id":"5eaec0bb.3d3fb8","type":"ui_gauge","z":"1ebac2c4.a26aa5","name":"","group":"108a21fc.d30b0e","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":440,"wires":[]},{"id":"7dc0a5be.7c0314","type":"ui_chart","z":"1ebac2c4.a26aa5","name":"","group":"425b60ba.b6cc7","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":380,"wires":[[]]},{"id":"b8c41800.61ad7","type":"ui_chart","z":"1ebac2c4.a26aa5","name":"","group":"108a21fc.d30b0e","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":480,"wires":[[]]},{"id":"d8fd311d.1bdda8","type":"function","z":"1ebac2c4.a26aa5","name":"","func":"var str = msg.payload;\nvar x = parseFloat(str);\nx = x - 1000;\n\nif (x > 100) {\n  x = 50; \n}\n\nmsg.payload  = x.toFixed(1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":440,"wires":[["7dc0a5be.7c0314","d1fddbb1.7664d","d02071fb.bd8228"]]},{"id":"2085cb5a.e0dc74","type":"function","z":"1ebac2c4.a26aa5","name":"","func":"var str = msg.payload;\nvar x = parseFloat(str);\nx = x - 273;\nif (x > 100) {\n  x = 0; \n}\n\nmsg.payload  = x.toFixed(1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":480,"wires":[["5eaec0bb.3d3fb8","b8c41800.61ad7"]]},{"id":"d1fddbb1.7664d","type":"ui_gauge","z":"1ebac2c4.a26aa5","name":"","group":"425b60ba.b6cc7","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value | number:1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":340,"wires":[]},{"id":"2b75ce6c.5f4e72","type":"ui_chart","z":"1ebac2c4.a26aa5","name":"","group":"ff2db422.f5394","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":580,"wires":[[]]},{"id":"e30e11af.9c8f98","type":"ui_gauge","z":"1ebac2c4.a26aa5","name":"","group":"ff2db422.f5394","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value | number:1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":540,"wires":[]},{"id":"d2fb2ba5.0f4e08","type":"serial in","z":"1ebac2c4.a26aa5","name":"","serial":"fa908ec6.210af8","x":260,"y":480,"wires":[["82212b37.65e958","ec9442fb.2d4bf8"]]},{"id":"404bd484.84eb2c","type":"file","z":"1ebac2c4.a26aa5","name":"","filename":"D:\\#MyCompany\\Projects (DurUntash)\\14_Node-RED Dashboard\\Data\\SoilMoistureData_Sensor1.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":590,"y":40,"wires":[[]]},{"id":"ec9442fb.2d4bf8","type":"file","z":"1ebac2c4.a26aa5","name":"","filename":"D:\\#MyCompany\\Projects (DurUntash)\\14_Node-RED Dashboard\\Data\\ECData_Sensor1.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":620,"y":640,"wires":[[]]}]